body {
    background: linear-gradient(135deg, #141E30, #243B55);
    color: white;
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    background: #ff4b7d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.message {
    font-size: 20px;
    margin: 20px;
    line-height: 1.5;
}